.jumbotron{
  text-align: center;
  background-image: url("../ip2/assets/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
padding-top: 10px;
}
*{
  margin: 0px;
  padding: 0px;
}
.foods{
  text-align: left;
}
.drinks{
  text-align: right;
}
#email{
  background-image: url("../ip2/assets/backgrounds/subscribe.jpg");
  height: 300px;
  padding-top: 100px;
}
#customers{
  text-align: center;
}
.container text-center{
  color: white;
}
.email{
  color: #F15A29;
}
label{
  color: transparent;
}
#footer{
  background-color: orange;
}
.img{
  color: orange;
}
li{
  list-style: none;
}
#row{
  background-color: orange;
}
#table{
  height: 50%;
  width: 50%;
}
.jumbotron2{
  background-image: url("../ip2/assets/backgrounds/foodsBg.jpg");
  height: 500px;
}
#fast{
  padding-top: 150px;
}
.recommend{
  font-size: 20px;
}
.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

.breakfast{
   position: absolute;
   top: 100px;
   left: 40%;
   width: 100%;
   color: white;
}
i {
  color: #F15A29;
}
.button:hover{
color: skyblue;
background-color: rgba(0,0,0,0.1);

}
#party {
  background-color: #F15A29;
  padding-left: 30%;
  font-size: 18pt;
  color: white;
}
#happy {
  padding-left: 30%;
  font-size: 18pt;
}
#table{
  border-style: hidden;
  clear: none;
  width: 285px;
  height: 210px;
}
#mouse_over {
  opacity: -10;
}

#mouse_over:hover {
  opacity: 1;
}
