.jumbotron{
  text-align: center;
  background-image: url("../ip2/assets/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
.foods{
  text-align: left;
}
.drinks{
  text-align: right;
}
#email{
  background-image: url("../ip2/assets/backgrounds/subscribe.jpg");
  height: 300px;
  padding-top: 100px;
}
#customers{
  text-align: center;
}
.container text-center{
  color: white;
}
.email{
  color: white;
}
label{
  color: white;
}
#footer{
  background-color: orange;
}
.img{
  color: orange;
}
li{
  list-style: none;
}
